﻿
@model List<Profession>
@{
    var counter = 0;
}



<div class="container">
    <div class="header">
        <h1 class="title">Professions Table</h1>
        <a class="btn btn-primary" asp-action="create" asp-controller="profession">Create</a>
    </div>

    <table class="table table-striped shadow">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              

                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profession in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@profession.Name</td>
                    <td>@profession.Description</td>
                   

                    <td>
                        <a class="btn btn-warning" asp-action="update" asp-controller="profession" asp-route-id="@profession.Id">Update</a>

                        <a class="btn btn-danger" asp-action="Delete" asp-controller="profession" asp-route-id="@profession.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

