@model List<Profession>
@{
    var counter = 0;
}

<style>
    body {
        background-color: #007bff;
    }

    .container {
        margin-top: 20px;
    }

    .table {
        background-color: white;
        border-radius: 5px;
    }

    th, td {
        text-align: center;
    }

    th {
        background-color: #007bff;
        color: white;
    }

    .btn {
        margin-right: 5px;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Create</h1>
        <a asp-action="create" asp-controller="profession" class="btn btn-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profession in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@profession.Name</td>
                    <td>@profession.Description</td>
                 
                  
                    <td>
                        <a asp-action="update" asp-controller="profession" asp-route-id="@profession.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-controller="profession" asp-route-id="@profession.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

