
@using Hospital.MVC.ViewServices
@inject LayoutService service
@{
	var Setting=await service.GetSetting();
}

@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.radiustheme.com/demo/html/medilink/medilink/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2024 10:25:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MediLink | Home 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/fonts/flaticon.css">
    <link rel="stylesheet" href="~/css/font/flaticon.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/OwlCarousel/owl.theme.default.min.css">
    <!-- Nivo slider CSS -->
    <link rel="stylesheet" href="~/vendor/slider/css/nivo-slider.css" />
    <!-- Elements CSS -->
    <link rel="stylesheet" href="~/css/elements.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/style.css">
    <link href="~/ServiceFor/css/style.css" rel="stylesheet">
    <!-- Modernizr Js -->
    <!-- Vendor CSS Files -->
    <link href="~/GalleryFor/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/GalleryFor/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/GalleryFor/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/GalleryFor/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/GalleryFor/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/ServiceFor/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/ServiceFor/plugins/slick/slick-theme.css">
    <link rel="icon" href="~/ServiceFor/images/favicon.ico" type="image/x-icon">

    <!-- FancyBox -->
    <link rel="stylesheet" href="~/ServiceFor/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Template Main CSS File -->
    <link href="~/GalleryFor/assets/css/main.css" rel="stylesheet">
    <script src="~/js/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!-- Preloader Start Here -->
   @*  <div id="preloader"></div> *@
    <!-- Preloader End Here -->
    <!-- scrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollUp">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- scrollUp End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Header Area Start Here -->
        <header id="header_1">
            <div class="header-top-bar top-bar-border-bottom bg-light-primary100 d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-12 col-md-12 col-12 header-contact-layout1">
                            <ul>
                                <li>
                                    <i class="fas fa-phone"></i>@Setting.FirstOrDefault(x=>x.Key=="Phone").Value
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>@Setting.FirstOrDefault(x=>x.Key=="Address").Value
                                </li>
                                <li>
                                    <i class="far fa-clock"></i>@Setting.FirstOrDefault(x=>x.Key=="Opening Hours").Value
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="header-menu-area header-menu-layout1">
                <div class="container">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-2 col-md-2 logo-area-layout1">
                            <div class="d-flex flex-column">
                                <a href="@Url.Action("Login", "Account", new { area = "Manage" })" class="btn btn-outline-dark">Admin Login</a>
                                <div class="d-flex">
                                    <a asp-action="login" asp-controller="account" class="btn btn-outline-success m-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"></path>
                                        </svg>
                                        User Login
                                    </a>
                                    <a asp-action="register" asp-controller="account" class="btn btn-outline-success m-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"></path>
                                        </svg>
                                        User Register
                                    </a>
                                </div>

                                <a href="@Url.Action("ManagerLogin", "Account", new { area = "Manage" })" class="btn btn-outline-info">Manager Login</a>

                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="template-main-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li><a asp-action="index" asp-controller="home">Home</a></li>
                                        <li><a href="#">Departments</a></li>
                                        <li><a href="#">Doctors</a></li>
                                        <li class="hide-on-mobile-menu"><a href="#">Pages</a></li>
                                        <li class="hide-on-desktop-menu">
                                            <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="appointment.html">Appointment</a></li>
                                                <li><a href="price-table.html">Price Table</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="single-shop.html">Shop Details</a></li>
                                                <li><a href="faq.html">Faq List</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="header-action-items-layout1">
                                <ul>
                                    <li><a asp-action="create" asp-controller="appointment" class="action-items-primary-btn">Appointment <i class="fas fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- Header Area End Here -->
       @RenderBody()
        <!-- Footer Area Start Here -->
        <footer>
            <section class="footer-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div >
                                   <h3 style="color:white","font-size:17px;font-weight:bold">Contact</h3>
                                </div>
                                <div class="footer-about">
                                    <p>
                                        @Setting.FirstOrDefault(x=>x.Key=="Description").Value
                                    </p>
                                </div>
                                <div class="footer-contact-info">
                                    <h3>contact</h3>
                                    <div class="footer-contact-info">
                                        <ul>
                                            <li><i class="fas fa-map-marker-alt"></i>@Setting.FirstOrDefault(x=>x.Key=="Address").Value</li>
                                            <li><i class="fas fa-phone"></i>@Setting.FirstOrDefault(x=>x.Key=="Phone").Value</li>
                                            <li><i class="far fa-envelope"></i>@Setting.FirstOrDefault(x=>x.Key=="E-mail").Value</li>
                                        </ul>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>Department</h3>
                                </div>
                               @*   <div class="footer-departments">
                                    <ul>
                                        @foreach (var profession in Model.Professions)
                                        {
                                            <li style="color: white;font-size:17px;">@profession.Name</li>
                                        }
                                       
                                    </ul>
                                </div> *@
                            </div>
                        </div>
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>Reservations</h3>
                                </div>

                                <div class="footer-opening-hours">
                                    <ul>
                                        <li>@Setting.FirstOrDefault(x=>x.Key=="Reservations").Value</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>Opening Hours</h3>
                                </div>
                              
                                 <div class="footer-opening-hours">
                                    <ul>
                                        <li>@Setting.FirstOrDefault(x=>x.Key=="Opening Hours").Value</li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
          
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- jquery-->
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Counterup Js -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- WOW JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Waypoints Js -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Parallaxie Js -->
    <script src="~/js/parallaxie.js"></script>
    <!-- Nivo slider js -->
    <script src="~/vendor/slider/js/jquery.nivo.slider.js"></script>
    <script src="~/vendor/slider/home.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/vendor/OwlCarousel/owl.carousel.min.js"></script>
    <!-- Meanmenu Js -->
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <!-- Magnific Popup Js -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Js -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- Smoothscroll Js -->
    <script src="~/js/smoothscroll.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/main.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/GalleryFor/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/GalleryFor/assets/vendor/aos/aos.js"></script>
    <script src="~/GalleryFor/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/GalleryFor/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/GalleryFor/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/GalleryFor/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/GalleryFor/assets/js/main.js"></script>
    <script src="~/ServiceFor/plugins/jquery.js"></script>
    <script src="~/ServiceFor/plugins/bootstrap.min.js"></script>
    <script src="~/ServiceFor/plugins/bootstrap-select.min.js"></script>
    <!-- Slick Slider -->
    <script src="~/ServiceFor/plugins/slick/slick.min.js"></script>
    <!-- FancyBox -->
    <script src="~/ServiceFor/plugins/fancybox/jquery.fancybox.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="~/ServiceFor/plugins/google-map/gmap.js"></script>

    <script src="~/ServiceFor/plugins/validate.js"></script>
    <script src="~/ServiceFor/plugins/wow.js"></script>
    <script src="~/ServiceFor/plugins/jquery-ui.js"></script>
    <script src="~/ServiceFor/plugins/timePicker.js"></script>
    <script src="~/ServiceFor/js/script.js"></script>


</body>


<!-- Mirrored from www.radiustheme.com/demo/html/medilink/medilink/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2024 10:25:43 GMT -->
</html>