@model Appointment
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <h1 class="my-4">Detail</h1>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            Appointment Information
        </div>
        <div class="card-body">
            <h5 class="card-title">Appointment ID: @Model.Id</h5>
            <p class="card-text"><strong>Patient Full Name:</strong> @Model.FullName</p>
            <p class="card-text"><strong>Patient Username:</strong> @Model.appUser.UserName</p>
            <p class="card-text"><strong>Patient Email:</strong> @Model.appUser.Email</p>
            <p class="card-text"><strong>Doctor Full Name:</strong> @Model.Doctor.Fullname</p>
            <p class="card-text"><strong>Appointment Date:</strong> @Model.AppointmentDate.ToString("MMMM dd, yyyy")</p>
            <p class="card-text"><strong>Appointment Start Time:</strong> @Model.AppointmentStartTime</p>
            <p class="card-text"><strong>Appointment End Time:</strong> @Model.AppointmentEndTime</p>
            <p class="card-text"><strong>Create Date:</strong> @Model.CreateDate.ToString("MMMM dd, yyyy H:mm:ss")</p>
            <p class="card-text"><strong>Patient Note:</strong> @Model.Note</p>
        </div>
        <form id="manager-comment-form" asp-action="reject" asp-controller="manageAppointment" method="post">
            <div class="card-body bg-light">
                <label asp-for="Comment" class="form-label">Manager Comment:</label>
                <input hidden value="@Model.Id" asp-for="Id" />
                <textarea class="form-control" rows="3" asp-for="Comment"></textarea>
                <span asp-validation-for="Comment" style="color:red"></span>
            </div>
            <div class="card-footer text-muted">
                <a asp-action="Index" asp-controller="ManageAppointment" class="btn btn-outline-info">Go Back</a>
                <a asp-action="accept" asp-controller="ManageAppointment" asp-route-id="@Model.Id" class="btn btn-outline-success">Accept</a>
                <button type="submit" form="manager-comment-form" class="btn btn-outline-danger">Reject</button>
            </div>
        </form>
    </div>
</div>
