@model Doctor

<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>Doctor Details</title>
   
</head>

<body>
    <!-- Doctors Detail Start Here -->
    <section class="team-details-wrap-layout1 bg-light-pink">
        <div class="container">
            <div class="row">
                <div class="order-xl-2 order-lg-2 col-xl-9 col-lg-8 col-md-12 col-12">
                    <div class="team-detail-box-layout1">
                        <div class="single-item">
                            <h3 class="section-title title-bar-pink">About Me:</h3>
                            <p>@Model.Description</p>
                        </div>
                        <div class="single-item">
                            <div class="table-responsive">
                                <h3 class="section-title title-bar-pink">Education:</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Degree</th>
                                            <th>Institute</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.Year</td>
                                            <td>@Model.Degree</td>
                                            <td>@Model.Institute</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="widget widget-team-contact">
                            <h3 class="section-title title-bar-pink">Personal Info</h3>
                            <ul>
                                <li>Phone: <span>@Model.Phone</span></li>
                                <li>Office: <span>@Model.Office</span></li>
                                <li>E-mail: <span>@Model.Email</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="order-xl-1 order-lg-1 sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-md-12 col-12">
                    <div class="widget widget-about-team">
                        <img src="~/uploads/doctors/@Model.ImageUrl" class="img-fluid" alt="team">
                        <div class="item-content">
                            <h3 class="item-title">@Model.Fullname</h3>
                            <p class="item-ctg">@Model.Profession.Name</p>
                            <span class="item-designation">@Model.Institute</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</body>

</html>
